/*variables*/
$primary-family: 'Roboto', sans-serif;
$font-size:15px;
$padding: 0 0 0 0;
$margin: 0 0 0 0;
$font-weight:400;
$decoartion:none;
$list-style:none;
$transform:capitalize;
$text-uppercase:uppercase;
$text-center: center;
$text-right: right;
$text-left: left;
$auto-margin: 0 auto;
$p-relative: relative;
$p-absolute: absolute;
$display:block;
$d-inline:inline-block;
$d-none:none;
$line-height: 1.6rem;

$black: #000000;
$white: #ffffff;
$red: #C21421;
$grey: #9B9C9D;
$grey1: #787878;
$grey2: #323232;